header p{
    box-sizing: border-box;
    font-size: 4em;
    font-family:'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}


.PictureLogo{
    background-image: url(./assets/images/snow1.avif);
    background-repeat: no-repeat;

    height: 125px;
    width: 150px;
}

header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    /* height: 125px; */
    align-items: center;
    
}





#about{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;

    background-color: #f2f2f2;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: #001;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #345188;
}
.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;

}

.containerAbout{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.aboutImage{
    flex:1;
    margin-right: 40px;
    overflow: hidden;
}
.aboutImage img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: o.5s ease;
}
.aboutImage:hover img{
  transform: scale(1.2);
}
.aboutContent{
    flex:1;  
}
.aboutContent h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;  
}
.aboutContent p{
    font-size:18px;
    line-height: 1.5;
    color: #666; 
}

// box toggle
.card{
    position: relative;
}
.boxToggle {
    position: absolute;
    top: 15px;
    right: 0;
}

#spinner {
   display: none; 
   position: fixed;
   top: 50%;
   left: 50%;
 } 




